<section class="user_info">
    <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
    <p><%= @user.area %></p>
</section>
<p><%= @user.profile %></p>
<p><%= link_to "PROFILE", @user %> | 
<%= link_to "FOLLOWING",  followings_user_path(@user) %> | 
<%= link_to "FOLLOWER",  followers_user_path(@user) %></p>